// 애니메이션 클래스
.animate-slideDown {
  animation: slideDown 200ms cubic-bezier(0.87, 0, 0.13, 1);
}

.animate-slideUp {
  animation: slideUp 200ms cubic-bezier(0.87, 0, 0.13, 1);
}

.animate-fadeIn {
  animation: fadeIn 200ms ease-in-out;
}

